body {
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 40px;
  width: 1200px;
}

.main-content{
 padding: 105px 90px; 
 background: #fff;
 box-shadow: 6px 6px 20px 8px rgba(0,0,0,.1);
}

.about-position{
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.about-name{
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}

.about-description{
  color: #595959;
  width: 400px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}
/* project */
.title{
  color: #000;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sidebar{
  color: white;
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
}

.
